version: '3.8'                  # 1. Версия формата файла

volumes:
  logs_data:
  db_data:

services:                       # 2. Список всех приложений (сервисов)
  bot:                          # 3. Имя конкретного сервиса
    build: .                    # 4. Где брать исходники для сборки
    restart: always             # 6. Правило перезапуска
    env_file: .env
    volumes:
      - logs_data:/app/logs
      - db_data:/app/db
    logging:                    # 8. Настройка логов
      driver: "json-file"
      options:
        max-size: "10mb"
        max-file: "3"